@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body{ font-family: 'Poppins'; font-size: 16px;}
h1,h2,h3,h4,h5,h6{ font-family: 'Poppins'; }

:root {
  --primary-color: #28a745;
  --dark-primary-color: #1e8c37;
}

::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #EEEEEE; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #AAAAAA; 
  }

  /*Header*/

header { background-color: #f8f9fa; padding: 0 15px; position: fixed; z-index: 10; height: 62px; width: 100%; }
header.clsInnerHeader { display: flex; padding: 0; background-color: #fff; box-shadow: 0px 0px 4px #00000029; }
header .clsLogo { display: inline-block; }
header p, header a { margin: 0; line-height: initial; color: #000; }
header.clsInnerHeader .clsLogo img { margin: 8px 15px; }
header .clsLogo img { margin: 8px 0; height: 45px; vertical-align: middle; border-style: none; }
header .clsAccount, header .clsShoppingIn { border-right: 0px solid #fff; }
header .clsShoppingIn, header .clsShopByCat, header .clsAccount, header .clsCart2 { padding: 12px 30px; }
header .clsShoppingIn p, header .clsAccount.robtt span { font: normal normal 500 16px / 18px Poppins; letter-spacing: 0px; color: #000000; }
.clsShoppingIn i { color: #707070; font-size: 16px; position: absolute; top: 14px; left: 10px; }
header .clsShoppingIn, header .clsShopByCat, header .clsShopByStore, header .clsAccount, header .clsReferbox { position: relative; }
header .clsDeliveryTo, header .clsShoppingIn, header .clsShopByCat, header .clsShopByStore, header .clsAccount, header .clsReferbox { cursor: pointer; }
header p, header .clsShoppingIn span, .clsAccount.robtt a p { font: normal normal 400 14px / 20px Poppins; letter-spacing: 0px; color: #000000; }
header .clsShopBySearch { flex: 1; }
header .clsShopBySearch .clsFlex { display: flex; }
header .clsSearchBox { flex: 1; padding: 12px 0; position: relative; }
form#headersearchfrm { position: relative; }
header .clsSearchBox input[type=text] { width: 100%; border: 2px solid #53A552; border-top-left-radius: 8px; border-bottom-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; font-size: 14px; padding-left: 10px; }
header .clsSearchBox input[type=text] { width: 100%; height: 38px; border: 1px solid #ddd; }
input[type=submit], .clsBtn { text-align: center; display: inline-block; text-decoration: none; background-color: var(--primary-color); border: 0; padding: 10px 15px; color: #fff; border-radius: 4px; outline: 0; cursor: pointer; font-weight: 500; transition: .2s ease-out; font-size: 14px; }
header .clsSearchBox .clsSearchBtn { right: 0px; width: 45px; height: 35px; }
header .clsSearchBox .clsSearchBtn { position: absolute; right: 4px; top: 50%; transform: translateY(-50%); display: inline-block; width: 32px; height: 32px; background-repeat: no-repeat; background-image: url(../images/search_white.png); background-size: 16px; background-position: center center; } 
header .clsSearchBox .clsSearchBtn.crossbtn { background-size: 25px !important; background-image: url(images/searchcrossbtn.svg) !important; background: transparent; background-repeat: no-repeat; background-position: center; right: 0px; }
header .clsSearchBox .clsSearchBtn { right: 0px; width: 45px; height: 35px; border-top-left-radius: 0; border-bottom-left-radius: 0; }
header .clsSearchBox .clsSearchBtn { position: absolute; right: 4px; top: 50%; transform: translateY(-50%); display: inline-block; width: 32px; height: 32px; background-repeat: no-repeat; background-image: url(../images/search_white.png); background-size: 16px; background-position: center center; }
header .clsAccount, header .clsShoppingIn { border-right: 0px solid #fff; }
header .clsShoppingIn { border-right: 1px solid #ddd; }
:root{ --primary-color:#28a745; --dark-primary-color:#1e8c37 }
header .clsDeliveryTo>span, header .clsShopByCat>span, header .clsAccount>span { font-weight: 500; font-size: 15px; display: inline-block; margin-top: 2px; background-repeat: no-repeat; background-image: url(../images/down-arrow-grey.png); background-size: 10px; background-position: right center; padding-right: 16px; color: #000; }
header .clsShoppingIn>p { font-weight: 500; font-size: 15px; display: inline-block; margin-top: 2px; background-repeat: no-repeat; background-image: url(../images/down-arrow-grey.png); background-size: 10px; background-position: right center; padding-right: 16px; color: #000; }
span.notloggbbtt { position: relative; top: 10px; }
header .clsAccount .clsPopUp { width: 190px; }
header .clsPopUp { padding-top: 20px; display: none; position: absolute; top: 80%; z-index: 1; }
header .clsPopUp .clsContent { background-color: #fff; border: 1px solid #ccc; border-radius: 4px; padding: 15px; }
header .clsPopUp .clsContent a:hover { font-weight: 500; }
header .clsAccount .clsPopUp .clsContent a:first-child { width: 100%; }
header .clsAccount .clsPopUp .clsContent a:first-child:hover { color: #fff; }
header .clsAccount .clsPopUp .clsContent a.create-account { margin-top: 10px; padding-top: 10px; border-top: 1px solid #ccc; display: block; text-decoration: none; color: #707070; font-size: 14px;}
header .clsAccount, header .clsShoppingIn { border-right: 0px solid #fff; }
.clsAccount.robtt a { text-decoration: none; }
header p, header .clsShoppingIn span, .clsAccount.robtt a p { font: normal normal 400 14px / 20px Poppins; letter-spacing: 0px; color: #000000; }
header .clsShoppingIn p, header .clsAccount.robtt span { font: normal normal 500 16px / 18px Poppins; letter-spacing: 0px; color: #000000; }
header .clsShoppingIn, header .clsShopByCat, header .clsAccount, header .clsCart2 { padding: 12px 30px; }
header .clsShoppingIn, header .clsShopByStore { padding: 12px 20px 12px 20px; }
header .clsCart2 { display: flex; align-items: center; }
header .clsCart2 a { display: flex; width: 85px; height: 33px; background-image: none; position: relative; background: #53A551 0% 0% no-repeat padding-box !important; border-radius: 6px; opacity: 1; padding: 6px; cursor: pointer; text-decoration: none; }
header .clsCart2 label, header .clsCart2 span { display: flex; align-items: center; justify-content: start; font: normal normal normal 14px / 20px Poppins; letter-spacing: 0px; color: #F7F7FA; opacity: 1; cursor: pointer; }
header .clsCart2 label img { width: 18px; margin-right: 6px; }
header .clsCart2 span { position: relative; width: auto; height: auto; color: #fff; border-radius: 0; text-align: center; line-height: 19px; right: 0; top: 0; margin-left: 5px; }
header .clsShoppingIn span { position: relative; bottom: 5px; }
header .clsPopUp { display: none; position: absolute; top: 80%; left: 0; }
header .clsAccount:hover .clsPopUp { display: block; }

button.close.modal-togglebtn { padding: 5px 6px; border: 1px solid #707070; border-radius: 3px; }
.modal-header .close { padding: 1rem 1rem; margin: -1rem -1rem -1rem auto; }
header p, span, td, a, label { font-size: 14px; color: #717171; }
header .loginModal #apiformprodct input { font-size: 14px; color: #717171; }
header .loginModal #apiformprodct #btn-login { font-size: 14px; color: #fff; }
input[type=submit]:hover, input[type=submit]:focus, .clsBtn:hover, .clsBtn:focus { background-color: var(--dark-primary-color); transition: .2s ease-in; color: #fff; }
button#shippingUpprdtcsubbtn:hover { background-color: var(--dark-primary-color); transition: .2s ease-in; color: #fff; }
.modal-body { position: relative; -ms-flex: 1 1 auto; flex: 1 1 auto; padding: 1rem; }
.cst-fromrow-50 { width: 100%; float: left; }
.form-leftsidewrappr { padding: 15px; }
p.signupSecPara { text-align: right; }
p.signupSecPara span { cursor: pointer; color: var(--primary-color); font-weight: 400; }
.panel.panel-default { padding: 5px 5px 20px 5px; }
.frmheading { font-size: 18px; padding-bottom: 15px; font-weight: bold; color: #000; display: block; }
.formfield-wrapper { padding: 10px 0; }
.formfield-wrapper span a { text-decoration: none; }
.formfield-wrapper a strong { color: #717171; }
.formfield-wrapper span strong a { color: #717171; }
#apiformprodct input[type=text], #apiformprodct input[type=email], #apiformprodct input[type=password] { width: 100%; }
#apiformprodct input[type=email], #apiformprodct input[type=password] { margin-top: -5px; }
#apiformprodct input[type=password] { height: 40px; border: 1px solid #ccc; border-radius: 5px; padding: 15px; line-height: 30px; }
.signUpprdtcsubbtn-wrappr { text-align: center; }
input[type=submit], .clsBtn { text-align: center; display: inline-block; text-decoration: none; background-color: var(--primary-color); border: 0; padding: 10px 15px; color: #fff; border-radius: 4px; outline: 0; cursor: pointer; font-weight: 500; transition: .2s ease-out; }
.loginpopup-img { background-image: url(./images/loginimg.png); background-size: 100% 100%; background-repeat: no-repeat; background-position: center; background-size: cover; display: block; width: 100%; }
p.signupSecPara span:hover { text-decoration: underline; }
#shippingUpprdtcsubbtn, #signUpprdtcsubbtn, #changeAdressSavebtn { width: 110px; margin-bottom: 10px; text-align: center; display: inline-block; text-decoration: none; background-color: var(--primary-color); border: 0; padding: 7px 15px; color: #fff; border-radius: 4px; outline: 0; cursor: pointer; font-size: 14px; transition: .2s ease-out; }
.loginModal .modal-body.sinupformmdl #loginpanellogin #login-success { color: #fff !important; background: green; font-size: 14px; font-weight: 400; padding: 5px 10px; margin-top: 15px; text-align: center; }
.loginModal .modal-body.sinupformmdl #loginpanellogin .input-error { border-color: red; }
.loginModal .modal-body.sinupformmdl #loginpanellogin .field-error { color: red; font-size: 12px; margin-top: 5px; font-weight: 400; }
.loginModal .modal-body.sinupformmdl #loginpanellogin #error { color: #fff; background: red; font-size: 14px; font-weight: 400; padding: 5px 10px; margin-top: 15px; text-align: center; display: none; }


@media (min-width: 1200px) {
  header .modal-xl {
      max-width: 470px;
  }
}


/*header category*/


.header-top { width: 100%; height: 50px; }
.header-top .clsHead { display: flex; padding: 0; background: #F2F4F8 0% 0% no-repeat padding-box; padding-top: 66px; }
.header-top .clsHead .container { max-width: 95%; padding-right: 0; }
.header-top .clsHead .topsectionimppage { padding: 7px 0;  }
.header-top .clsHead .clsPgWidth.clsBreadcrumb { display: flex; text-align: center; }
.header-top .clsHead .topsectionimppage ul.topmenuslider li a { font: normal normal 400 14px / 21px Poppins; letter-spacing: 0px; color: #000; padding: 5px 4px; text-decoration: none; }

.header-top .clsHead .topsectionimppage { padding: 7px 0; }
.header-top .clsHead .clsPgWidth.clsBreadcrumb { display: flex; justify-content: space-between; align-items: center; width: 100%; }
.header-top .clsHead .clsPgWidth.clsBreadcrumb .tophumbmmm img { margin-right: 15px; cursor: pointer; }
.header-top .clsHead .topsectionimppage ul.topmenuslider { display: flex; list-style: none; padding: 0; margin: 0; overflow-x: auto; justify-content: flex-start; flex-wrap: nowrap; width: 100%; }
.header-top .clsHead .topsectionimppage ul.topmenuslider li { padding: 5px 3px; }
.header-top .clsHead .topsectionimppage ul.topmenuslider li a { font: normal normal 400 14px / 21px Poppins; letter-spacing: 0px; color: #000; text-decoration: none; }
.header-top .clsHead .topsectionimppage .clsPgWidth ul .down { font-weight: 500; font-size: 15px; display: inline-block; margin-top: 2px; background-repeat: no-repeat; background-image: url(../images/down-arrow-grey.png); background-size: 10px; background-position: right center; padding-right: 10px; color: #000; }
.header-top .clsHead .topsectionimppage .topmenuslider a.active { color: #53A551; }
.header-top .clsHead .topsectionimppage .topmenuslider a:hover { color: #53A551; }

.header-top .clsHead .topsectionimppage .modal { position: fixed; z-index: 1000; left: 0; top: 0; width: 300px; height: 100%; background-color: white; box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); transition: transform 0.3s ease; transform: translateX(-100%); }
.header-top .clsHead .topsectionimppage .modal-content { padding: 0; max-height: 90vh; overflow-y: auto; }
.header-top .clsHead .topsectionimppage .modal-content .aa { padding: 10px 20px; }
.header-top .clsHead .topsectionimppage .modal-content .user-name { padding: 10px 20px; background: #F7F7FA; }
.header-top .clsHead .topsectionimppage .modal-content .user-name .u-name { float: left; font: normal normal 600 18px/33px Poppins; letter-spacing: 0px; color: #000000; opacity: 1; }
.header-top .clsHead .topsectionimppage .modal-content .user-name .md-close { width: 16px; }
.header-top .clsHead .topsectionimppage .close { cursor: pointer; float: right; font-size: 20px; text-align: end; }
.header-top .clsHead .topsectionimppage .modal.active { transform: translateX(0); }
.header-top .clsHead .topsectionimppage .modal h2 { text-align: left; font: normal normal 600 18px / 33px Poppins; letter-spacing: 0px; color: #000000; opacity: 1; }
.header-top .clsHead .topsectionimppage .modal ul { list-style-type: none; padding: 0; margin: 0; }
.header-top .clsHead .topsectionimppage .modal ul li { text-align: left; padding: 6px 0; }
.header-top .clsHead .topsectionimppage .modal ul li a { text-decoration: none; color: #000; font-size: 15px; font-weight: 500; }
.header-top .clsHead .topsectionimppage .modal-content .b-border { border-bottom: 1px solid #E4E4E4; }

.clsAccount .clsPopUp .clsContent ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

/*Footer*/

.footer-bg { padding: 45px 0 17px 0; background-color: #343a46; }
footer.footer-bg .container { max-width: 1128px; margin: 0 auto; }
footer.footer-bg .container .col-md { padding: 0; }
.footer-bg .footer_widgth h4 { margin: 0; padding: 0; margin-bottom: 18px; font-weight: 500; font-size: 13px; color: #fff; font-family: 'Montserrat', sans-serif; -webkit-font-smoothing: antialiased; letter-spacing: initial; }
.footer-bg .footer_widgth ul { list-style-type: none; padding: 0; }
.footer-bg .footer_widgth ul li a { font-size: 12px; letter-spacing: .5px; color: #cdcdcd; text-decoration: none; }
.footer-bg .footer_widgth ul li a:hover { font-weight: 600; }
.footer-bg .widgth_app .float-left { float: left; width: 50%; text-align: center; color: #fff; margin-bottom: 30px; }
.footer-bg .widgth_app .float-left img { width: 50px; }
.footer-bg .widgth_app .float-left a { color: #fff; text-align: center; text-decoration: none; font-size: 14px; }
.footer-bg .copy-right-area { margin-top: -4px; text-align: center; }
.footer-bg .copy-right-area a { font-size: 12px; color: #cdcdcd; text-decoration: none; }
.footer-bg .copy-right-area a:hover { color: #cdcdcd; cursor: pointer; }
.footer-bg .widgth_app p { font-weight: 600; font-family: 'Montserrat'; padding-left: 13px; text-align: left;}
.footer-bg .widgth_app img { width: 100px; }

/*Home Page*/

.index-page .container { max-width: 98%; }
.index-page .banner-slider img { width: 100%; height: 360px; object-fit: fill; margin-top: 5px; }
.index-page .trending-heading { text-align: center; margin: 40px 0 15px 0; }
.index-page .trending-heading h3 { font-size: 30px; font-weight: 600; }
.index-page .trending-heading p { font-size: 16px; font-weight: 400; }
.index-page .cat-product .cart img { width: 100%; }
.index-page .cat-product .cart .prod-name { font-size: 14px; padding: 0 0 5px 0; margin-bottom: 0; }
.index-page .cat-product .cart .desc { padding-bottom: 15px; }
.index-page .cat-product .cart .desc p { margin-bottom: 0; }
.index-page .cat-product .cart .desc .dis-price { font-size: 16px; font-weight: 500; color: #000; padding-right: 15px; }
.index-page .cat-product .cart .desc .original-price { font-size: 16px; font-weight: 500; color: #E50865; text-decoration: line-through; }


.index-page .cat-product .cart .desc .dot { height: 15px; width: 15px; border-radius: 50%; display: inline-block; margin-top: 7px; margin-right: 5px; float: right;}
.index-page .cat-product .cart .desc .first { background: #8C6C59; }
.index-page .cat-product .cart .desc .sec { background: #E50865; }
.index-page .cat-product .cart .desc .third { background: #FF2929; }
.index-page .cat-product .cart .desc a {float: right; margin-top: 3px; color: #000; }
.index-page .cat-product .cart .add-cart-btn { border: 1px solid #000; background: #000; color: #fff; text-align: center; padding: 15px 0; cursor: pointer; transition: all 0.3s ease; }
.index-page .cat-product .cart .add-cart-btn a { color: #fff; text-decoration: none; font-size: 14px; transition: all 0.3s ease; }
.index-page .cat-product .cart .add-cart-btn:hover { border: 1px solid #000; background: #fff; color: #000; }
.index-page .cat-product .cart .add-cart-btn:hover a { color: #000; }
.index-page .cat-product .cart a.add-btn { text-decoration: none; }
.index-page .cat-product .cart .quantity-control { display: flex; justify-content: space-between; align-items: center; }
.index-page .cat-product .cart .qty-btn { background: transparent; color: #fff; border: none; width: 30px; height: 30px; font-size: 18px; cursor: pointer; transition: all 0.3s ease; }
.index-page .cat-product .cart .qty-value { font-size: 14px; color: #fff; }
.index-page .cat-product .cart .qty-btn:hover { background: transparent; color: #fff; }
.index-page .cat-product .cart .add-cart-container:hover .qty-btn { background: transparent; color: #000; }
.index-page .cat-product .cart .add-cart-container:hover .qty-value { color: #000; }
.index-page .cat-product .cart .qty-btn:focus { outline: none; box-shadow: none; }


.add-cart-btn.original-padding { padding: 15px 0; }
.add-cart-btn.compact-padding { padding: 10px 0 !important; }



.index-page .cat-product .cart .image-wrap { position: relative; display: inline-block; overflow: hidden; width: 100%; }
.index-page .cat-product .cart .image-wrap img { display: block; width: 100%; height: 310px; object-fit: fill; cursor: pointer; transition: transform 0.3s ease; }
.index-page .cat-product .cart .image-wrap:hover img { transform: scale(1.08); }
.index-page .cat-product .cart .image-wrap .discount-badge { position: absolute; top: 10px; left: 10px; background-color: #E50865; color: white; padding: 5px 15px; font-size: 12px; z-index: 1; }
.index-page .cat-product .cart .view-p { text-align: center; padding: 15px 0; }
.index-page .cat-product .cart .view-p a { text-decoration: none; color: #333333; font-size: 14px; }

.index-page .cat-product .view-catalog { text-align: center; padding: 20px 0; }
.index-page .cat-product .view-catalog .catalog-btn { display: inline-block; border: 1px solid #000; padding: 8px 45px; background: #000; color: #fff; text-decoration: none; transition: all 0.3s ease; font: inherit; text-align: center; font-size: 14px; }
.index-page .cat-product .view-catalog .catalog-btn:hover { background: #fff; color: #000; border: 1px solid #000; }

.index-page .cat-collection img { width: 100%; }
.index-page .cat-collection { padding-top: 30px; }

.index-page .cat-collection { position: relative; width: 100%; }
.index-page .cat-collection .col-md-12 { position: relative; }
.index-page .cat-collection img { width: 100%; height: auto; display: block; }
.index-page .cat-collection .text-overlay-above { position: absolute; top: 130px; right: 105px; background: #fff; padding: 40px 35px; max-width: 35%; color: #000; font-size: 14px; z-index: 2; }
.index-page .cat-collection .text-overlay-below { position: absolute; bottom: 0; left: 50%; width: 100%; transform: translate(-50%, -50%); color: #fff; font-size: 14px; z-index: 2; text-align: center; }
.index-page .cat-collection .text-overlay-below h3 { font-size: 25px; font-weight: 600; margin-bottom: 25px; }
.index-page .cat-collection .text-overlay-below p { font-size: 14px; }

.index-page .cat-collection .text-overlay-above .shop-btn { border: 2px solid #ccc; padding: 10px 20px; background: #fff; cursor: pointer; font-size: 12px; transition: all 0.3s ease; }
.index-page .cat-collection .text-overlay-above .shop-btn:hover { background: #000; color: #fff; border: 2px solid #000; }
.index-page .cat-collection .text-overlay-above a.shop-btn { text-decoration: none; }

.index-page .cat-collection .image-block img { width: 100%; height: auto; }
.index-page .cat-collection img { width: 100%; height: auto; display: block; }
.index-page .cat-collection .image-block { position: relative; overflow: hidden; }
.index-page .cat-collection .image-block::after { content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 30%; background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent); pointer-events: none; z-index: 1; }


.index-page .cat-collection .image-block .img-below { width: 100%; display: block; }
.index-page .cat-collection .text-overlay-below { position: absolute; bottom: 4%; left: 50%; transform: translateX(-50%); color: #fff; text-align: center; z-index: 2; width: 80%; }

.index-page .cat-collection .text-overlay-above h3 { font-size: 24px; font-weight: 600; }
.index-page .cat-collection .text-overlay-above p { font-size: 12px; }

.index-page .black-coll .black-bg { background: #000; }
.index-page .black-coll .black-bg .heading { padding: 50px 0 20px 0; }
.index-page .black-coll .black-bg .heading h3 { text-align: center; color: #fff; font-size: 29px; font-weight: 600; margin-bottom: 20px; }
.index-page .black-coll .black-bg .heading p { color: #fff; text-align: center; font-size: 14px; }

.index-page .black-coll .black-bg .cart img { width: 100%; }
.index-page .black-coll .black-bg .cart .prod-name { font-size: 14px; padding: 0 0 5px 0; margin-bottom: 0; color: #fff; }
.index-page .black-coll .black-bg .cart .desc { padding-bottom: 15px; }
.index-page .black-coll .black-bg .cart .desc p { margin-bottom: 0; }
.index-page .black-coll .black-bg .cart .desc .dis-price { font-size: 16px; font-weight: 500; color: #fff; padding-right: 15px; }
.index-page .black-coll .black-bg .cart .desc .original-price { font-size: 16px; font-weight: 500; color: #E50865; text-decoration: line-through; }

.index-page .black-coll .black-bg .cart .add-cart-btn { background-color: #fff; color: #000; border: 1px solid #fff; text-align: center; padding: 15px 0; cursor: pointer; transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease; }
.index-page .black-coll .black-bg .cart .add-cart-btn a { color: #000; text-decoration: none; font-size: 14px; transition: color 0.3s ease; }
.index-page .black-coll .black-bg .cart .add-cart-btn:hover { border: 1px solid #fff; background: #000; color: #fff; }
.index-page .black-coll .black-bg .cart .add-cart-btn:hover a { color: #fff; }
.index-page .black-coll .black-bg .cart a.add-btn { text-decoration: none; }


.index-page .black-coll .black-bg .quantity-control { display: flex; justify-content: space-between; align-items: center; }
.index-page .black-coll .black-bg .qty-btn { background: transparent; color: #000; border: none; width: 30px; height: 30px; font-size: 18px; cursor: pointer; transition: all 0.3s ease; }
.index-page .black-coll .black-bg .qty-value { font-size: 14px; color: #000; }
.index-page .black-coll .black-bg .qty-btn:hover { background: transparent; color: #fff; }
.index-page .black-coll .black-bg .add-cart-container:hover .qty-btn { background: transparent; color: #fff; }
.index-page .black-coll .black-bg .add-cart-container:hover .qty-value { color: #fff; }
.index-page .black-coll .black-bg .qty-btn:focus { outline: none; box-shadow: none; }



.index-page .black-coll .black-bg .cart .view-p { text-align: center; padding: 15px 0 0 0; }
.index-page .black-coll .black-bg .cart .view-p a { text-decoration: none; color: #fff; font-size: 12px; }

.index-page .black-coll .black-bg .cart .image-wrap { position: relative; display: inline-block; }
.index-page .black-coll .black-bg .cart .image-wrap img { display: block; width: 100%; height: 310px; cursor: pointer; object-fit: fill; }
.index-page .black-coll .black-bg .cart .image-wrap .discount-badge { position: absolute; top: 10px; left: 10px; background-color: #E50865; color: white; padding: 5px 15px; font-size: 12px; z-index: 1; }
.index-page .black-coll .black-bg .row.cart-slider { margin: 0 13px; }

.index-page .black-coll .black-bg .row.cart-slider .cart .image-wrap { position: relative; display: inline-block; overflow: hidden; width: 100%; }
.index-page .black-coll .black-bg .row.cart-slider .cart .image-wrap img { display: block; width: 100%; height: 310px; object-fit: fill; cursor: pointer; transition: transform 0.3s ease; }
.index-page .black-coll .black-bg .row.cart-slider .cart .image-wrap:hover img { transform: scale(1.08); }

.index-page .black-coll .black-bg .explor-btn { padding: 35px 0 50px 0; text-align: center; }
.index-page .black-coll .black-bg .explor-btn a { border: 1px solid #fff; padding: 10px 50px; background: #fff; color: #000; text-decoration: none; transition: all 0.3s ease; font-size: 14px; }
.index-page .black-coll .black-bg .explor-btn a:hover { border: 1px solid #fff; background: #000; color: #fff; }
.index-page .black-coll .black-bg .image-area img { width: 100%; }
/* .index-page .black-coll .black-bg .image-area .col-md-6.col-left { padding-right: 0; } */
/* .index-page .black-coll .black-bg .image-area .col-md-6.col-right { padding-left: 0; } */

.index-page .black-coll .black-bg .image-area .col-md-6.col-left { position: relative; overflow: hidden; padding: 0; }
.index-page .black-coll .black-bg .image-area .col-md-6.col-right { position: relative; overflow: hidden; padding: 0; }
.index-page .black-coll .black-bg .image-area .col-md-6.col-left img { display: block; width: 100%; height: auto; }
.index-page .black-coll .black-bg .image-area .col-md-6.col-right img { display: block; width: 100%; height: auto; }
.index-page .black-coll .black-bg .image-area .col-md-6.col-left::after { content: ""; position: absolute; bottom: 0; left: 0; right: 0; height: 30%; background: linear-gradient(to top, rgba(0, 0, 0), transparent); pointer-events: none; }
.index-page .black-coll .black-bg .image-area .col-md-6.col-right::after { content: ""; position: absolute; bottom: 0; left: 0; right: 0; height: 30%; background: linear-gradient(to top, rgba(0, 0, 0), transparent); pointer-events: none; }


.index-page .black-coll .black-bg .image-area .col-md-12.full-image { position: relative; overflow: hidden; padding: 0; }
.index-page .black-coll .black-bg .image-area .col-md-12.full-image img { display: block; width: 100%; height: auto; }
.index-page .black-coll .black-bg .image-area .col-md-12.full-image::after { content: ""; position: absolute; bottom: 0; left: 0; right: 0; height: 30%; background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent); pointer-events: none; }
.index-page .black-coll .black-bg .image-area .row { margin: 0; }



.index-page .black-coll .black-bg .image-slider { padding: 50px 0; }
.index-page .black-coll .black-bg .image-slider .col-md-6 img { width: 100%; }
.index-page .black-coll .black-bg .image-slider .col-md-6.bag-slide { width: 25%; margin: auto; }

.index-page .black-coll .black-bg .image-slider .cart img { width: 100%; }
.index-page .black-coll .black-bg .image-slider .cart .prod-name { font-size: 14px; padding: 0 0 5px 0; margin-bottom: 0; color: #fff; }
.index-page .black-coll .black-bg .image-slider .cart .desc { padding-bottom: 15px; }
.index-page .black-coll .black-bg .image-slider .cart .desc p { margin-bottom: 0; }
.index-page .black-coll .black-bg .image-slider .cart .desc .dis-price { font-size: 16px; font-weight: 500; color: #fff; padding-right: 15px; }
.index-page .black-coll .black-bg .image-slider .cart .desc .original-price { font-size: 16px; font-weight: 500; color: #E50865; text-decoration: line-through; }
.index-page .black-coll .black-bg .image-slider .cart .add-cart-btn { border: 1px solid #fff; text-align: center; padding: 15px 0; cursor: pointer; transition: background-color 0.3s ease; background: #fff; }
.index-page .black-coll .black-bg .image-slider .cart .add-cart-btn a { color: #000; text-decoration: none; font-size: 14px; transition: color 0.3s ease; }
.index-page .black-coll .black-bg .image-slider .cart .add-cart-btn:hover { background-color: #000; width: 99.8%; }
.index-page .black-coll .black-bg .image-slider .cart .add-cart-btn:hover a { color: #fff; }
.index-page .black-coll .black-bg .image-slider .cart .image-wrap { position: relative; display: inline-block; width: 100%; }
.index-page .black-coll .black-bg .image-slider .cart .image-wrap img { display: block; width: 100%; height: 363px; object-fit: fill; cursor: pointer; }
.index-page .black-coll .black-bg .image-slider .cart .image-wrap .discount-badge { position: absolute; top: 10px; left: 10px; background-color: #E50865; color: white; padding: 5px 15px; font-size: 12px; z-index: 1; }

.color-select select { padding: 8px 12px; border: 1px solid #ccc; border-radius: 4px; width: 100%; font-size: 16px; background: #000; color: #fff; }

.index-page .black-coll .black-bg .image-slider .bag-slider-wrapper { position: relative; width: 50%; margin: 0 auto 0 auto; }
.index-page .black-coll .black-bg .image-slider .bag-slider-wrapper .nav-btn { position: absolute; top: 40%; transform: translateY(-50%); color: #fff; border: none; cursor: pointer; z-index: 2; font-size: 12px; background-color: transparent; text-decoration: underline; text-underline-offset: 2px; }
.index-page .black-coll .black-bg .image-slider .bag-slider-wrapper .left-btn { left: -90px; }
.index-page .black-coll .black-bg .image-slider .bag-slider-wrapper .right-btn { right: -50px; }
.index-page .black-coll .black-bg .image-slider .bag-slider-wrapper .nav-btn:hover { background-color: rgba(0, 0, 0, 0.8); }

.index-page .black-coll .black-bg .image-slider .bag-slider-wrapper .right-btn:focus,
.index-page .black-coll .black-bg .image-slider .bag-slider-wrapper .right-btn:focus-visible { outline: none; box-shadow: none; }
.index-page .black-coll .black-bg .image-slider .bag-slider-wrapper .left-btn:focus,
.index-page .black-coll .black-bg .image-slider .bag-slider-wrapper .left-btn:focus-visible { outline: none; box-shadow: none; }

.index-page .three-bag .col-md-4.col-first { padding-right: 0; }
.index-page .three-bag .col-md-4.col-sec { padding-left: 0; padding-right: 0; }
.index-page .three-bag .col-md-4.col-third { padding-left: 0; }
/* .index-page .three-bag .col-md-4.col-first img { width: 100%; height: 390px; object-fit: cover; }
.index-page .three-bag .col-md-4.col-sec img { width: 100%; height: 390px; object-fit: cover; }
.index-page .three-bag .col-md-4.col-third img { width: 100%; height: 390px; object-fit: cover; } */
.index-page .three-bag .col-md-4.col-first img { width: 100%; height: 625px; }
.index-page .three-bag .col-md-4.col-sec img { width: 100%; height: 625px; }
.index-page .three-bag .col-md-4.col-third img { width: 100%; height: 625px; }
.index-page .three-bag .col-md-4 p { text-align: center; margin-top: 15px; font-size: 14px; }


.index-page .two-bag { padding: 50px 0; }
.index-page .two-bag .col-md-6.col-first { padding-right: 0; }
.index-page .two-bag .col-md-6.col-sec { padding-left: 0; }
.index-page .two-bag .col-md-6.col-first img { width: 100%; }
.index-page .two-bag .col-md-6.col-sec img { width: 100%; }


.index-page .two-bag .col-md-6.col-first { position: relative; overflow: hidden; }
.index-page .two-bag .col-md-6.col-first > img { width: 100%; display: block; }
.index-page .two-bag .col-md-6 .image-text { position: absolute; bottom: 0; left: 0; width: 99%; margin-left: 12px; padding: 0 0 5px 5px; background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent); color: white; z-index: 1; display: flex; align-items: center; gap: 15px; /* flex-wrap: wrap; */ }
.index-page .two-bag .col-md-6 .image-text img { width: 145px; margin-bottom: 15px; margin-left: 15px; height: 160px; object-fit: fill; }
.index-page .two-bag .col-md-6 .image-text .dis-price { font-size: 16px; font-weight: 500; color: #fff; }
.index-page .two-bag .col-md-6 .image-text .original-price { font-size: 16px; text-decoration: line-through; color: #E50865; margin-left: 10px; }
.index-page .two-bag .col-md-6 .image-text h3 { font-size: 18px; font-weight: 500; overflow-wrap: break-word; white-space: normal; }
.index-page .two-bag .col-md-6 .image-text .text-block { display: flex; flex-direction: column; }
.index-page .two-bag .col-md-6.col-sec { position: relative; overflow: hidden; }
.index-page .two-bag .col-md-6.col-sec > img { width: 100%; display: block; }
.index-page .two-bag .col-md-6.col-sec .image-text { position: absolute; bottom: 0; left: 0; width: 98%; margin-left: 0; padding: 0 0 5px 5px; background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent); color: white; z-index: 1; display: flex; align-items: center; gap: 15px; /* flex-wrap: wrap; */ }



.index-page .lastdiv { text-align: center; }
.index-page .lastdiv .heading h3 { font-size: 30px; font-weight: 600; margin-bottom: 20px; }
.index-page .lastdiv .heading p { font-size: 16px; }
.index-page .lastdiv img { width: 100%; height: 355px; }
.index-page .lastdiv .col-md-4.f-cls { padding-right: 0; }
.index-page .lastdiv .col-md-4.s-cls { padding-left: 0; padding-right: 0; }
.index-page .lastdiv .col-md-4.t-cls { padding-left: 0; }



/* product listing page */

.prod-listing-page .container { max-width: 95%; }

.prod-listing-page .product-heading { padding-top: 40px; padding-bottom: 30px; }
.prod-listing-page .product-heading p { font-size: 20px; font-weight: 600; text-align: left; margin-bottom: 0; }
.prod-listing-page .product-heading .prod-category { padding-top: 20px; }
.prod-listing-page .product-heading .prod-category img {/* border: 1px solid #ccc;*/ cursor: pointer; width: 100%; height: 87px; object-fit: cover; }

.prod-listing-page .product-heading .prod-category .category-item.selected.loaded img { border: 2px solid #ccc; }

#loader-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #fff; display: flex; justify-content: center; align-items: center; z-index: 9999; }
#loader-overlay.hidden { display: none; }

.prod-listing-page .product-heading .prod-category { display: flex; gap: 15px; }
.prod-listing-page .product-heading .prod-category .category-item p { font-size: 12px; font-weight: 400; margin-bottom: 0; margin-top: 10px; text-align: center; }


.prod-listing-page .cat-product .cart { margin-bottom: 20px; }
.prod-listing-page .cat-product .cart img { width: 100%; }
.prod-listing-page .cat-product .cart .prod-name { font-size: 14px; padding: 0 0 5px 0; margin-bottom: 0; }
.prod-listing-page .cat-product .cart .desc { padding-bottom: 15px; }
.prod-listing-page .cat-product .cart .desc p { margin-bottom: 0; }
.prod-listing-page .cat-product .cart .desc .dis-price { font-size: 16px; font-weight: 500; color: #000; padding-right: 15px; }
.prod-listing-page .cat-product .cart .desc .original-price { font-size: 16px; font-weight: 500; color: #E50865; text-decoration: line-through; }


.prod-listing-page .cat-product .cart .desc .dot { height: 15px; width: 15px; border-radius: 50%; display: inline-block; margin-top: 7px; margin-right: 5px; float: right;}
.prod-listing-page .cat-product .cart .desc .first { background: #8C6C59; }
.prod-listing-page .cat-product .cart .desc .sec { background: #E50865; }
.prod-listing-page .cat-product .cart .desc .third { background: #FF2929; }
.prod-listing-page .cat-product .cart .desc a {float: right; margin-top: 3px; color: #000; }
.prod-listing-page .cat-product .cart .add-cart-btn { border: 1px solid #000; background: #000; color: #fff; text-align: center; padding: 15px 0; cursor: pointer; transition: all 0.3s ease; }
.prod-listing-page .cat-product .cart .add-cart-btn a { color: #fff; text-decoration: none; font-size: 14px; transition: all 0.3s ease; }
.prod-listing-page .cat-product .cart .add-cart-btn:hover { border: 1px solid #000; background: #fff; color: #000; }
.prod-listing-page .cat-product .cart .add-cart-btn:hover a { color: #000; }
.prod-listing-page .cat-product .cart a.add-btn { text-decoration: none; }


.prod-listing-page .cat-product .cart .quantity-control { display: flex; justify-content: space-between; align-items: center; }
.prod-listing-page .cat-product .cart .qty-btn { background: #000; color: #fff; border: none; width: 30px; height: 30px; font-size: 18px; cursor: pointer; transition: all 0.3s ease; }
.prod-listing-page .cat-product .cart .qty-value { font-size: 14px; color: #fff; }
.prod-listing-page .cat-product .cart .qty-btn:hover { background: transparent; color: #fff; }
.prod-listing-page .cat-product .cart .add-cart-container:hover .qty-btn { background: transparent; color: #000; }
.prod-listing-page .cat-product .cart .add-cart-container:hover .qty-value { color: #000; }
.prod-listing-page .cat-product .cart .qty-btn:focus { outline: none; box-shadow: none; }

.prod-listing-page .cat-product .cart .image-wrap { position: relative; display: inline-block; overflow: hidden; width: 100%; }
.prod-listing-page .cat-product .cart .image-wrap img { display: block; width: 100%; height: 310px; object-fit: fill; cursor: pointer; transition: transform 0.3s ease; }
.prod-listing-page .cat-product .cart .image-wrap:hover img { transform: scale(1.08); }
.prod-listing-page .cat-product .cart .image-wrap .discount-badge { position: absolute; top: 10px; left: 10px; background-color: #E50865; color: white; padding: 5px 15px; font-size: 12px; z-index: 1; }
.prod-listing-page .cat-product .cart .view-p { text-align: center; padding: 15px 0; }
.prod-listing-page .cat-product .cart .view-p a { text-decoration: none; color: #333333; font-size: 14px; }



/*Add To Cart*/

/* .AddToCartPage .order-s .cart-right-text .head p { margin-bottom: 0; } */
.AddToCartPage .order-s .cart-right-text .head .dis-price { font-size: 16px; font-weight: 500; color: #000; padding-right: 7px; }
.AddToCartPage .order-s .cart-right-text .head .original-price { font-size: 16px; font-weight: 500; color: #E50865; text-decoration: line-through; }
.AddToCartPage .order-s .cart-right-text .stack-status p { font-size: 14px; margin-bottom: 30px; }
.AddToCartPage .order-s .cart-right-text .stack-status p span { font-size: 14px; color: #000; }


.AddToCartPage .order-s .cart-right-text .add-cart-container { padding-bottom: 30px; }
.AddToCartPage .order-s .cart-right-text .add-cart-container .add-cart-btn { border: 1px solid #000; background: #000; color: #fff; text-align: center; padding: 15px 0; cursor: pointer; transition: all 0.3s ease; }
.AddToCartPage .order-s .cart-right-text .add-cart-container .add-cart-btn a { color: #fff; text-decoration: none; font-size: 14px; transition: all 0.3s ease; }
.AddToCartPage .order-s .cart-right-text .add-cart-container .add-cart-btn:hover { border: 1px solid #000; background: #fff; color: #000; }
.AddToCartPage .order-s .cart-right-text .add-cart-container .add-cart-btn:hover a { color: #000; }
.AddToCartPage .order-s .cart-right-text .add-cart-container a.add-btn { text-decoration: none; }

.AddToCartPage .order-s .cart-right-text .add-cart-container .add-cart-btn .quantity-control .qty-btn.plus { background: transparent; color: #fff; border: transparent; float: right; margin-right: 10px; }
.AddToCartPage .order-s .cart-right-text .add-cart-container .add-cart-btn .quantity-control .qty-btn.minus { background: transparent; color: #fff; border: transparent; float: left; margin-left: 10px; }
.AddToCartPage .order-s .cart-right-text .add-cart-container .add-cart-btn .quantity-control .qty-value { color: #fff; }

.AddToCartPage .order-s .cart-right-text .add-cart-container .add-cart-btn:hover .qty-value { color: #000; }
.AddToCartPage .order-s .cart-right-text .add-cart-container .add-cart-btn:hover .qty-btn.minus { background: transparent; color: #000; }
.AddToCartPage .order-s .cart-right-text .add-cart-container .add-cart-btn:hover .qty-btn.plus { background: transparent; color: #000; }

/* .AddToCartPage .order-s .cart-right-text .add-cart-container .add-cart-btn .quantity-control .qty-btn.minus:focus { display: none; }
.AddToCartPage .order-s .cart-right-text .add-cart-container .add-cart-btn .quantity-control .qty-btn.plus:focus { display: none; } */

.AddToCartPage .order-s .cart-right-text .add-cart-container .add-cart-btn .quantity-control .qty-btn.minus:focus,
.AddToCartPage .order-s .cart-right-text .add-cart-container .add-cart-btn .quantity-control .qty-btn.plus:focus {
    outline: none;
    box-shadow: none;
}




.AddToCartPage .col-md-1.cart-side { width: 7%; }
.AddToCartPage .col-md-5.main-img { width: 45%; margin-top: 5px; margin-right: 10px; }
/* .AddToCartPage .col-md-5.order-s { width: 41%; margin-top: 5px; } */
.AddToCartPage .col-md-5.order-s { margin-top: 5px; }
.AddToCartPage { margin-top: 20px; margin-bottom: 60px; }
.AddToCartPage .container { max-width: 90%; }
.AddToCartPage .col-md-6.order-s { max-width: 44%; margin-left: 3%; }
/* .AddToCartPage .cart-side img { margin: 5px 0; width: 76px; height: 100px; } */
.AddToCartPage .cart-side img { margin: 0 0 15px 0; width: 85px; height: 115px; object-fit: fill; }
.AddToCartPage .main-img img { width: 100%; cursor: pointer; height: 460px; object-fit: contain; margin-left: 10px; }
.AddToCartPage .cart-right-text .head a { text-align: left; font: normal normal normal 16px/21px Poppins; letter-spacing: 0px; color: #2269BC; opacity: 1; text-decoration: none; }
.AddToCartPage .cart-right-text .head h4 { text-align: left; font-size: 16px; font-weight: 400; letter-spacing: 0px; color: #000000; text-transform: capitalize; opacity: 1; margin-top: 20px; margin-bottom: 20px; }
.AddToCartPage .cart-right-text .head p { text-align: left; font-size: 14px; margin-bottom: 10px; letter-spacing: 0px; text-transform: capitalize; opacity: 1; }
.AddToCartPage .cart-right-text .rating-reviews { padding: 5px 0; }
.AddToCartPage .cart-right-text .rating-reviews .rate { text-align: left; font-size: 14px; font-weight: 500; letter-spacing: 0px; color: #000000; opacity: 1; }
.AddToCartPage .cart-right-text .rating-reviews .star img { width: 12px; }
.AddToCartPage .cart-right-text .rating-reviews .drop img { width: 8px; }
.AddToCartPage .cart-right-text .rating-reviews .rating-num { text-align: left; font: normal normal normal 14px/25px Poppins; letter-spacing: 0px; color: #2269BC; opacity: 1; padding-left: 10px; }
.AddToCartPage .cart-right-text .rating-reviews .rating-num a { text-decoration: none; color: #2269BC; }
.AddToCartPage .cart-right-text .rating-reviews .and { text-align: left; font: normal normal normal 14px/25px Poppins; letter-spacing: 0px; color: #2269BC; opacity: 1; }
.AddToCartPage .cart-right-text .rating-reviews .review a { text-decoration: none; color: #2269BC; }
.AddToCartPage .cart-right-text .rating-reviews .review { text-align: left; font: normal normal normal 14px/25px Poppins; letter-spacing: 0px; color: #2269BC; opacity: 1; }
.AddToCartPage .cart-right-text .rate-price { padding: 5px 0; }
.AddToCartPage .cart-right-text .rate-price .pri { text-align: left; font-size: 18px; padding-right: 8px; font-weight: 500; letter-spacing: 0px; color: #000000; text-transform: capitalize; opacity: 1; }
.AddToCartPage .cart-right-text .rate-price .cut-pri { text-align: left; text-decoration: line-through; font-size: 14px; font-weight: 500; letter-spacing: 0px; color: #707070; text-transform: capitalize; opacity: 1; }
.AddToCartPage .cart-right-text .rate-price .of-pri { text-align: left; font-size: 14px; font-weight: 500; letter-spacing: 0px; color: #53A551; opacity: 1; }
.AddToCartPage .cart-right-text .cart-border { border: 1px solid #E4E4E4; margin: 10px 0; }
.AddToCartPage .cart-right-text .cart-border-color { border: 1px solid #E4E4E4; margin: 10px 0; }
.AddToCartPage .cart-right-text .cart-border-size { border: 1px solid #E4E4E4; margin: 10px 0; }
.AddToCartPage .cart-right-text .size .size-heading { padding: 20px 0; letter-spacing: 0px; color: #000000; text-transform: capitalize; opacity: 1; font-size: 16px; font-weight: 500; }   
.AddToCartPage .cart-right-text .size span { padding: 7px 7px; font-size: 14px; font-weight: 500; color: #000; text-decoration: none; margin-right: 10px; background: #FFFFFF; border: 1px solid #212121; border-radius: 8px; opacity: 1; display: inline-block; width: 38px; text-align: center; }
.AddToCartPage .cart-right-text .deliver { padding: 10px 0; }
.AddToCartPage .cart-right-text .deliver .deliver-heading { letter-spacing: 0px; color: #000000; text-transform: capitalize; opacity: 1; font-size: 14px; font-weight: 500; }   
.AddToCartPage .cart-right-text .deliver .add { float: right; }
.AddToCartPage .cart-right-text .deliver .add a { color: #2269BC; font-size: 14px; }
.AddToCartPage .cart-right-text .address { background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #E4E4E4; border-radius: 8px; opacity: 1; padding: 10px 15px; }
.AddToCartPage .cart-right-text .address img { width: 14px; }
.AddToCartPage .cart-right-text .address .address-heading { text-align: left; font-size: 14px; font-weight: 500; letter-spacing: 0px; color: #000000; opacity: 1; padding-left: 10px; }
.AddToCartPage .cart-right-text .address .loc { text-align: left; font: normal normal normal 16px/21px Poppins; letter-spacing: 0px; color: #000000; opacity: 1; padding-left: 25px; }
.AddToCartPage .cart-right-text .address .loc a { text-decoration: none; color: #000000; font-size: 12px; }
.AddToCartPage .cart-right-text .address .loc span { text-decoration: none; color: #000000; font-size: 14px; }
.AddToCartPage .cart-right-text .delv { padding: 10px 0 10px 0; }
.AddToCartPage .cart-right-text .delv img { padding-right: 15px; width: 40px; }
.AddToCartPage .cart-right-text .delv .del-nam { text-align: left; font-size: 12px; letter-spacing: 0px; color: #000000; opacity: 1; }
.AddToCartPage .cart-right-text .desc .desc-heading { text-align: left; font-size: 14px; font-weight: 600; letter-spacing: 0px; color: #000000; opacity: 1; padding: 15px 0 10px 0; background: #fff;}
.AddToCartPage .cart-right-text .desc .detail { text-align: left; font-size: 12px; letter-spacing: 0px; color: #000000; opacity: 1; padding: 0 0 20px 0; border-bottom: 1px solid #E4E4E4; opacity: 1; word-wrap: break-word; }
.AddToCartPage .cart-right-text .desc .detail .product-bol { text-align: left; font-size: 12px; font-weight: 500; letter-spacing: 0px; color: #000000; padding-right: 5px;}
.AddToCartPage .cart-right-text .desc .detail .pro-text { text-align: left; font-size: 12px; font-weight: 400; letter-spacing: 0px; color: #000000; padding-right: 5px;}
.AddToCartPage .cart-right-text .desc .detail p { margin-bottom: 10px; }
.AddToCartPage .cart-right-text .desc .detail .q-color { color: #35336D; font-size: 12px; }
.AddToCartPage .cart-right-text .desc .accordion-button::after { content: ''; background-image: url('../images/faq-dropdown.svg'); background-size: contain; background-repeat: no-repeat; width: 16px; height: 16px; display: block; position: absolute; right: 10px; transition: transform .2s ease-in-out; }
.AddToCartPage .cart-right-text .desc .accordion-button:not(.collapsed)::after { background-image: url('../images/faq-dropdown.svg'); transform: rotate(180deg); }
.AddToCartPage .cart-right-text .desc .accordion-button.collapsed { border: none; }
.AddToCartPage .cart-right-text .desc .accordion-button:not(.collapsed) { border: none; }
.AddToCartPage .cart-image.active-image { border: 1px solid #000; border-radius: 5px; }
.AddToCartPage .cart-image { cursor: pointer; }
.AddToCartPage .main-image { width: 100%; height: auto; }
.AddToCartPage .cart-side img:hover { border: 1px solid #000; height: 115px; object-fit: fill; }
.AddToCartPage .main-img { position: relative; overflow: hidden; }
.AddToCartPage .main-image { width: 100%; transition: all 0.3s ease; }
.AddToCartPage .magnifier { position: absolute; border: 2px solid #000; border-radius: 50%; width: 200px; height: 200px; pointer-events: none; display: none; background: rgba(255, 255, 255, 0.5); overflow: hidden; }
.AddToCartPage .magnified { display: block; }


.AddToCartPage .sticky-wrapper { position: sticky; top: 80px; z-index: 1; align-self: flex-start; display: flex; }
.AddToCartPage .cart-side { flex: 0 0 auto; }
.AddToCartPage .main-img { flex: 1; position: relative; }
.AddToCartPage .main-img .discount-badge { position: absolute; top: 10px; left: 35px; background-color: #E50865; color: white; padding: 5px 15px; font-size: 12px; z-index: 1; }
.AddToCartPage .cart-image { display: block; width: 76px; height: 100px; margin-bottom: 10px; cursor: pointer; }
.AddToCartPage .main-image { width: 100%; height: 460px; object-fit: contain; }
.AddToCartPage .cart-image.highlighted { border: 1px solid #000; height: 115px; }


.might-like-section { padding: 40px 0; }
/* .might-like-section .container { max-width: 95%; } */
.might-like-section .container { max-width: 90%; margin: 0 auto; }
.might-like-section .heading { font: normal normal 600 18px / 20px Poppins; letter-spacing: 0px; color: #000000; opacity: 1; padding: 10px 0 10px 0; margin-bottom: 20px; }

.might-like-section .p-listing .cart { margin-bottom: 20px; }
.might-like-section .p-listing .cart img { width: 100%; }
.might-like-section .p-listing .cart .prod-name { font-size: 14px; padding: 0 0 5px 0; margin-bottom: 0; }
.might-like-section .p-listing .cart .desc { padding-bottom: 15px; }
.might-like-section .p-listing .cart .desc p { margin-bottom: 0; }
.might-like-section .p-listing .cart .desc .dis-price { font-size: 16px; font-weight: 500; color: #000; padding-right: 15px; }
.might-like-section .p-listing .cart .desc .original-price { font-size: 16px; font-weight: 500; color: #E50865; text-decoration: line-through; }
.might-like-section .p-listing .cart .add-cart-btn { border: 1px solid #000; background: #000; color: #fff; text-align: center; padding: 15px 0; cursor: pointer; transition: all 0.3s ease; }
.might-like-section .p-listing .cart .add-cart-btn a { color: #fff; text-decoration: none; font-size: 14px; transition: all 0.3s ease; }
.might-like-section .p-listing .cart .add-cart-btn:hover { border: 1px solid #000; background: #fff; color: #000; }
.might-like-section .p-listing .cart .add-cart-btn:hover a { color: #000; }
.might-like-section .p-listing .cart a.add-btn { text-decoration: none; }
.might-like-section .p-listing .cart .quantity-control { display: flex; justify-content: space-between; align-items: center; }
.might-like-section .p-listing .cart .qty-btn { background: #000; color: #fff; border: none; width: 30px; height: 30px; font-size: 18px; cursor: pointer; transition: all 0.3s ease; }
.might-like-section .p-listing .cart .qty-value { font-size: 14px; color: #fff; }
.might-like-section .p-listing .cart .qty-btn:hover { background: #000; color: #fff; }
.might-like-section .p-listing .cart .add-cart-container:hover .qty-btn { background: #fff; color: #000; }
.might-like-section .p-listing .cart .add-cart-container:hover .qty-value { color: #000; }
.might-like-section .p-listing .cart .qty-btn:focus { outline: none; box-shadow: none; }
.might-like-section .p-listing .cart .image-wrap { position: relative; display: inline-block; overflow: hidden; width: 100%; }
.might-like-section .p-listing .cart .image-wrap img { display: block; width: 100%; height: 310px; object-fit: fill; cursor: pointer; transition: transform 0.3s ease; }
.might-like-section .p-listing .cart .image-wrap:hover img { transform: scale(1.08); }
.might-like-section .p-listing .cart .image-wrap .discount-badge { position: absolute; top: 10px; left: 10px; background-color: #E50865; color: white; padding: 5px 15px; font-size: 12px; z-index: 1; }
.might-like-section .p-listing .cart .view-p { text-align: center; padding: 15px 0; }
.might-like-section .p-listing .cart .view-p a { text-decoration: none; color: #333333; font-size: 14px; }

