div.pagination {
	padding:3px;
	margin:3px;
}
div.pagination a {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #28a745;
	text-decoration:none;
	color:#28a745;
	border-radius: 4px;
}
div.pagination a:hover,div.pagination a:active {
	font-weight: 500;
}
div.pagination span.current {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #28a745;
	font-weight:bold;
	background-color:#28a745;
	color:#FFF;
	border-radius: 4px;
}
div.pagination span.disabled {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #EEE;
	color: #DDD;
	border-radius: 4px;
}